.player {
    width: 240px;
    height: auto;
    position: fixed;
    left: 16px;
    bottom: 16px;
    transition: opacity calc(var(--time) / 4) ease;
}

.player::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    background-color: #000000;
    outline: 4px solid #000000;
    border-radius: 4px;
    transition: opacity calc(var(--time) / 4) ease;
    opacity: 0;
}

.player:hover::before {
    opacity: .88;
}

.player-item {
    transition: opacity calc(var(--time) / 4) ease;
    opacity: 0;
}

.player:hover .player-item {
    opacity: 1;
}

#player-info-parent {
    height: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#player-info-text {
    line-height: 1;
    display: block;
    animation: scrollRightToLeft 16s linear infinite;
    color: #ffffff;
    text-shadow: 0 0 3px var(--dark-color);
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#player-time-parent {
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-time-seek-parent {
    width: 172px;
    height: 14px;
    background: transparent;
    position: relative;
    border: 2px var(--dark-color) solid;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

#player-time-seek-progress-parent {
    width: 100%;
    height: 100%;
}


#player-time-seek-progress {
    width: 0%;
    height: 100%;
    background: var(--dark-color);
    display: block;
    position: absolute;
}

#player-time-current {
    text-align: right;
    padding-right: 2px;
}

#player-time-total {
    text-align: left;
    padding-left: 2px;
}

.player-time {
    width: 30px;
    display: inline-block;
    color: var(--dark-color);
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

#player-time-parent:hover #player-time-seek-parent {
    border-color: var(--color);
}

#player-time-parent:active #player-time-seek-parent {
    border-color: #ffffff;
}

#player-time-parent:hover #player-time-seek-progress {
     background: var(--color);
}

#player-time-parent:active #player-time-seek-progress {
     background: #ffffff;
}

#player-time-parent:hover .player-time {
    color: var(--color);
}

#player-time-parent:active .player-time {
    color: #ffffff;
}

#player-button-parent {
    width: 100%;
    height: 48px;
    padding-top: 4px;
    display: flex;
    justify-content: left;
    gap: 16px;
}

.player-button {
    width: 48px;
    height: 48px;
    background: none;
    color: var(--dark-color);
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
}

.player-button svg {
    width: inherit;
    height: inherit;
}

.player-button:hover {
    color: var(--color);
}

.player-button:active {
    color: #ffffff;
}

#player-volume-range {
    width: 72px;
    height: 48px;
    position: absolute;
    bottom: -2px;
    left: 238px;
    transition: opacity calc(var(--time) / 4) ease;
    display: none;
    opacity: 0;
}

#player-volume-parent:hover #player-volume-range {
    display: inline;
    opacity: 1;
}

#player-volume-parent input[type="range"] {
    outline: none;
    cursor: pointer;
}

.pulse {
    animation: white-pulse var(--time) ease-in-out;
}

@keyframes white-pulse {
    0%, 100% {
        filter: brightness(1);
    }
    16.6%, 50%, 83.3% {
        filter: brightness(3);
    }
    25%, 58.3%, 91.6% {
        filter: brightness(1);
    }
}

@media (max-width: 639px) {
    .player {
        width: 176px;
        left: 4px;
        bottom: 4px;
    }

    #player-info-parent {
        height: fit-content;
    }

    .player-time{
        width: 0;
        display: none;
    }

    #player-time-parent {
        height: 10px;
        padding-top: 3px;
    }

    #player-time-seek-parent {
        height: 8px;
    }

    #player-time-seek-progress-parent {
        height: 4px;
    }

    #player-button-parent {
        height: 40px;
        gap: 5px;
    }

    .player-button {
        width: 40px;
        height: 40px;
    }

    #player-volume-range {
        bottom: -6px;
        left: 173px;
    }
}

@media (max-width: 479px) {
    .player {
        width: 128px;
    }

    #player-button-parent {
        gap: 4px;
    }

    #player-volume-parent {
        display: none;
    }
}