:root {
    --color: #bebebe;
    --time: 2501ms;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color);
    min-height: 100vh;
    background: transparent;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body a {
    color: var(--color);
}

body::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000000;
    background:
        linear-gradient(to bottom, #000000a6 0px, #000000 90vh),
        url("img/bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
    animation: fadeIn var(--time) forwards;
}

header {
    width: 100%;
    height: auto;
    padding-top: 12px;
    text-align: center;
}

main {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
    text-align: center;
}

.title {
    font-size: 48px;
    letter-spacing: 36px;
    margin-right: -36px;
    padding-bottom: 2px;
    line-height: 1;
    text-align: center;
}

.header-item {
    margin-inline: 16px;
    display: inline;
    font-size: 18px;
}

header hr {
    display: block;
    height: 1px;
    width: 372px;
    border: 0;
    border-top: 1px solid var(--color);
    margin: 1em auto;
    padding: 0;
}

.fade-in {
    animation: fadeIn var(--time) forwards;
}

.fade-out {
    animation: fadeOut var(--time) forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to   {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to   {opacity: 0;}
}

.active-in {
    animation: activeIn var(--time) forwards;
}

.active-out {
    animation: activeOut var(--time) forwards;
}

@keyframes activeIn {
    from {color: var(--color);}
    to   {color: #be5c5c;}
}

@keyframes activeOut {
    from {color: #be5c5c;}
    to   {color: var(--color);}
}

.socials {
    height: 75vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.socials-item {
    margin: auto;
}

a.socials-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.listen {
    width: 924px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.listen-item {
    width: 300px;
    height: 300px;
    margin-bottom: 4px;
    position: relative;
    display: block;
}

.aesthetic {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4px;
    align-items: flex-start;
}

.aesthetic-column {
    width: 300px;
}

.aesthetic-item {
    width: 100%;
    height: auto;
    margin-bottom: 4px;
    display: block;
    opacity: 0;
    transition: opacity var(--time) ease-in-out;
}

.aesthetic-item-quote {
    text-align: center;
    margin: 16px;
    margin-bottom: 32px;
    padding-top: 48px;
    border-top: 1px var(--color) solid;
}

.aesthetic-item-person {
    font-weight: bold;
    text-align: center;
    margin: 16px;
    padding-bottom: 48px;
    border-bottom: 1px var(--color) solid;
}

.aesthetic-item.loaded {
    opacity: 1;
}

/* about */

@media (max-width: 959px) {
    .listen {
        width: 616px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 639px) {
    .listen {
        width: 300px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 449px) {
    body {
        font-size: 11px;
    }

    .title {
        font-size: 36px;
        letter-spacing: 24px;
        margin-right: -24px;
    }

    .header-item {
        margin-inline: 13px;
        font-size: 12px;
    }

    header hr {
        width: 260px;
    }

    a.socials-item.one {
        width: 240px;
    }

    a.socials-item.two {
        width: 172px;
    }

    a.socials-item.three {
        width: 156px;
    }

    a.socials-item.four {
        width: 105px;
    }
}

@media (max-width: 314px) {
    body:before {
        content: "you zoomed in or your screen hella small bruh xD";
    }
}